bitstruct==8.10.0
Flask==1.1.2
flask-cors==3.0.9
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
MySQL-python==1.2.5
python-valve==0.2.1
requests==2.23.0
six==1.14.0
Flask-SQLAlchemy==2.4.1
Werkzeug==1.0.1
wheel==0.38.1